@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../img/balloons-1786430_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        content: '';
        opacity: .7;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;

        .cor1 {
            color: variables.$cor1;
        }

        .cor2 {
            color: variables.$cor2;
        }

        .cor3 {
            color: variables.$cor3;
        }

        .cor4 {
            color: variables.$cor4;
        }

        .cor5 {
            color: variables.$cor5;
        }

        #contador {
            color: variables.$cor6;
        }
    }

    &__logo {
        margin: 0px auto;
        height: 320px;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}