$textColor: #fff;
$secondaryTextColor: #000;

$blue1: #58ffee;
$blue2: #079449;
$pink: #ca4264;
$yellow: #ced42e;
$purple: #4f2ac3;

$cor1: red;
$cor2: green;
$cor3: yellow;
$cor4: blue;
$cor5: pink;
$cor6: #00d2d3;
$cor7: #ff9f43;